# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
build.gradle
README.md
gradle/wrapper/gradle-wrapper.jar
text-ui-test/runtest.sh
